<section id="contact">
    <div class="container py-5 my-5">
        <div class="row">
            <div class="col-6 mb-4">
                <h3>Love what I am writing?</h3>
                <p>If you like what I am writing and would love to exchange on the topics, write me an e-mail.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-5">
                <a href="mailto:steven.figura@gmail.com">steven.figura@gmail.com</a>
            </div>
        </div>
    </div>
</section>