<footer>
    <div class="container my-5">
        <div class="row my-5">
            <div class="col-6 col-xxl-9 col-xl-9 col-lg-9 col-md-9 col-sm-8">
                <p>&copy; 2024 Steven Figura. All rights reserved.</p>
            </div>
            <div class="col-6 col-xxl-3 col-xl-3 col-lg-3 col-md-3 col-sm-4">
                <div class="row">
                    <div class="col">
                        <a href="https://www.linkedin.com/in/steven-figura/">
                            <img src="./assets/svg/linkedin-svgrepo-com.svg" alt="linkedin" width="20" height="20" loading="lazy">
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://github.com/sfigura/">
                            <img src="./assets/svg/github-mark.svg" alt="github" width="20" height="20" loading="lazy">
                        </a>
                    </div>
                    <div class="col">
                        <a href="https://twitter.com/StevenFgr">
                            <img src="./assets/svg/X_logo_2023.svg" alt="twitter" width="20" height="20" loading="lazy">
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>

<!-- Bootstrap & jQuery JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>