<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Steven Figura - Blog</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- CSS Stylesheet -->
    <link rel="stylesheet" href="/styles/styles.css">

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary rounded text-uppercase sticky-top" aria-label="Thirteenth navbar example">
        <div class="container-fluid" style="background-color:white; border-radius: 30px; margin-top: 1vh;padding-top: 1vh;padding-bottom: 1vh;">

  
          <div class="collapse navbar-collapse d-flex" id="navbarsExample11">
            <a class="navbar-brand col-3 me-0" href="/">Steven Figura</a>
            <ul class="navbar-nav col-6 justify-content-center me-auto mb-2 mb-lg-0">
              <li class="nav-item"></li>
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
            </ul>
            <div class="d-flex col-3 justify-content-end">
                <a href="/create"><button class="btn btn-primary nav-btn">New post</button></a>
            </div>
          </div>
        </div>
      </nav>